<h1 style="text-align:center">Add new medication</h1>

<%= label_tag :medications, 'Search for a medication' %>
<%= text_field_tag :medications, nil, placeholder: 'E.g. Ibuprofen' %>
<%= button_tag 'Search' %>

